# Archivos auxiliares de LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.synctex.gz
*.fdb_latexmk
*.blg
*.bbl

# Archivos generados por BibTeX/Biber
*.bcf
*.run.xml

# Archivos de compilación
*.dvi
*.ps

# Archivos comprimidos temporales
*.gz
*.zip
*.rar

# Archivos de sistema
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# DB local
*.sqlite3

# Entorno virtual
.venv/
venv/
env/

# Django
staticfiles/
media/
*.log

# VS Code
.vscode/

# Variables de entorno
.env

# Directorio de pruebas
proyecto_pruebas/